<!DOCTYPE html>
<html lang="zxx" class="js">

<head>

    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>Jakoda | Home</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dashlite.css?ver=1.4.0">
    <link id="skin-default" rel="stylesheet" href="{{ STATIC_URL }}css/theme.css">
    <link id="skin-default" rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
</head>

<body class="nk-body npc-crypto has-sidebar has-sidebar-fat ui-clean ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            <div class="nk-sidebar nk-sidebar-fat nk-sidebar-fixed" data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="/home" class="logo-link nk-sidebar-logo">
                            <img class="logo-light logo-img" src="{{ STATIC_URL }}images/jakoda.jpeg"  alt="logo">
                            <img class="logo-dark logo-img" src="{{ STATIC_URL }}images/jakoda.jpeg"  alt="logo-dark">
                           
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-body" data-simplebar>
                        <div class="nk-sidebar-content">
                            <div class="nk-sidebar-widget d-none d-xl-block">
                                <div class="user-account-info between-center">
                                    <div class="user-account-main">
                                        <h6 class="overline-title-alt">Account Balance</h6>
                                        <div class="user-balance"><small class="currency currency-btc">&#8358;</small> 179,850.950 </div>
                                        
                                    </div>
                                    </div>
                               
                                <div class="user-account-actions">
                                    <ul class="g-3">
                                        <li><a href="#" class="btn btn-lg btn-primary"><span>Add Funds</span></a></li>
                                        <li><a href="#" class="btn btn-lg btn-warning"><span>Withdraw</span></a></li>
                                    </ul>
                                </div>
                            </div><!-- .nk-sidebar-widget -->
                            <div class="nk-sidebar-widget nk-sidebar-widget-full d-xl-none pt-0">
                                <a class="nk-profile-toggle toggle-expand" data-target="sidebarProfile" href="#">
                                    <div class="user-card-wrap">
                                        <div class="user-card">
                                            <div class="user-avatar">
                                                <span>NA</span>
                                            </div>
                                            <div class="user-info">
                                                <span class="lead-text">Nathan</span>
                                                <span class="sub-text">nathan@jakoda.com</span>
                                            </div>
                                            <div class="user-action">
                                                <em class="icon ni ni-chevron-down"></em>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="nk-profile-content toggle-expand-content" data-content="sidebarProfile">
                                    <div class="user-account-info between-center">
                                        <div class="user-account-main">
                                            <h6 class="overline-title-alt">Wallet Balance</h6>
                                            <div class="user-balance"> <small class="currency currency-btc">&#8358;</small> 179,850.950</div>
                                          
                                        </div>
                                    
                                    </div>
                                  
                                    <ul class="user-account-links">
                                        <li><a href="#" class="link"><span>Withdraw</span> <em class="icon ni ni-wallet-out"></em></a></li>
                                        <li><a href="#" class="link"><span>Fund Wallet</span> <em class="icon ni ni-wallet-in"></em></a></li>
                                    </ul>
                                    <ul class="link-list">
                                        <li><a href="html/crypto/profile.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                        <li><a href="html/crypto/profile-security.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                        <li><a href="html/crypto/profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                    </ul>
                                    <ul class="link-list">
                                        <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                    </ul>
                                </div>
                            </div><!-- .nk-sidebar-widget -->
                            <div class="nk-sidebar-menu">
                                <!-- Menu -->
                                <ul class="nk-menu">
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title">Menu</h6>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="/home" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                            <span class="nk-menu-text">Home</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="/compliance" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-user-c"></em></span>
                                            <span class="nk-menu-text">Compliance</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="/manage-payouts" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-wallet-alt"></em></span>
                                            <span class="nk-menu-text">Manage Payouts</span>
                                        </a>
                                    </li>

                                    <li class="nk-menu-item">
                                        <a href="/transactionHistory" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-repeat"></em></span>
                                            <span class="nk-menu-text">Transaction History</span>
                                        </a>
                                    </li>

                                    <li class="nk-menu-item">
                                        <a href="/settings" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                            <span class="nk-menu-text">Settings</span>
                                        </a>
                                    </li>

                                    <!-- <li class="nk-menu-item">
                                        <a href="html/crypto/buy-sell.html" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                                            <span class="nk-menu-text">Buy / Sell</span>
                                        </a>
                                    </li>
                                   
                                    <li class="nk-menu-item">
                                        <a href="html/crypto/profile.html" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                            <span class="nk-menu-text">My Profile</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/crypto/kyc-application.html" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-file-text"></em></span>
                                            <span class="nk-menu-text">KYC Application</span>
                                        </a>
                                    </li> -->

                                   
                                </ul><!-- .nk-menu -->
                            </div><!-- .nk-sidebar-menu -->
                            
                        </div><!-- .nk-sidebar-contnet -->
                    </div><!-- .nk-sidebar-body -->
                </div><!-- .nk-sidebar-element -->
            </div>
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fluid nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">
                                <a href="/home" class="logo-link">
                                    <img class="logo-light logo-img" src="{{ STATIC_URL }}images/jakoda.jpeg"  alt="logo">
                                    <img class="logo-dark logo-img" src="{{ STATIC_URL }}images/jakoda.jpeg"  alt="logo-dark">
                                 
                                </a>
                            </div>
                          
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-info d-none d-md-block">
                                                   
                                                    <div class="user-name dropdown-indicator">Howdy, Nathan</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>NA</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">Nathan</span>
                                                        <span class="sub-text">nathan@jakoda.com</span>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="#"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="#"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                                   
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                               
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main header @e -->
                <!-- content @s -->

                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                
                {% block body %} TBD {% endblock%}
                               
                </div>
                    </div>
                </div>
                <!-- content @e -->
               
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/bundle.js?ver=1.4.0"></script>
    <script src="{{ STATIC_URL }}js/scripts.js?ver=1.4.0"></script>
    <script src="{{ STATIC_URL }}js/charts/chart-crypto.js?ver=1.4.0"></script>

    <script>

        var inactivityTime = function () {
        var time;
        window.onload = resetTimer;
        // DOM Events
        document.onmousemove = resetTimer;
        document.onkeydown = resetTimer;
    
        function logout() {
            alert("You are now logged out due to inactivity")
            window.location.href = '/auth/logout';
        }
    
        function resetTimer() {
            clearTimeout(time);
            time = setTimeout(logout, 180000)
            // 1000 milliseconds = 1 second
        }
    };
    
    inactivityTime();
    
    
    </script>
</body>

</html>