{% extends "./dashboard-template.html" %}
{% block body %}

<div class="components-preview wide-md mx-auto">
  <div class="nk-block-head nk-block-head-lg wide-sm">
      <div class="nk-block-head-content">
    <h2 class="nk-block-title fw-normal">Manage Employees</h2>
          <div class="nk-block-des">
              <p class="lead">Manage employees, payouts, employee benefits</p>
        </div>
      </div>
  </div><!-- .nk-block-head -->
 
  <div class="nk-block nk-block-lg">
    
      <div class="card card-bordered card-preview">
          <div class="card-inner">
              <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                  <thead>
                      <tr class="nk-tb-item nk-tb-head">
                         
                          <th class="nk-tb-col tb-col-md"><span class="sub-text">User</span></th>
                          <th class="nk-tb-col tb-col-mb"><span class="sub-text">Amount</span></th>
                          <th class="nk-tb-col tb-col-mb"><span class="sub-text">Account Number</span></th>
                       
                          <th class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></th>
                          <th class="nk-tb-col tb-col-md">Action</th>
                        
                      </tr>
                  </thead>
                  <tbody>

                    {% for i in items %}
                      <tr class="nk-tb-item">
                         
                          <td class="nk-tb-col">
                              <div class="user-card">
                                  <div class="user-avatar bg-dim-primary d-none d-sm-flex">
                                      <span>AB</span>
                                  </div>
                                  <div class="user-info">
                                      <span class="tb-lead">{{ i.firstName }} {{ i.lastName }}<span class="dot dot-success d-md-none ml-1"></span></span>
                                     
                                  </div>
                              </div>
                          </td>
                          <td class="nk-tb-col tb-col-mb">
                              <span class="tb-amount"><span class="currency">&#8358;</span>{{ i.amount }}</span>
                          </td>

                          <td class="nk-tb-col tb-col-mb">
                            <span class="tb-amount">{{ i.accountNumber }}</span>
                        </td>
                     
                       
                          <td class="nk-tb-col tb-col-md">
                              <span class="tb-status text-success">Active</span>
                          </td>

                          
                          <td class="nk-tb-col nk-tb-col-tools">
                              <ul class="nk-tb-actions gx-1">
                                  <li class="nk-tb-action-hidden">
                                      <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Wallet">
                                          <em class="icon ni ni-wallet-fill"></em>
                                      </a>
                                  </li>
                                  <li class="nk-tb-action-hidden">
                                      <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Send Email">
                                          <em class="icon ni ni-mail-fill"></em>
                                      </a>
                                  </li>
                                  <li class="nk-tb-action-hidden">
                                      <a href="#" class="btn btn-trigger btn-icon" data-toggle="tooltip" data-placement="top" title="Suspend">
                                          <em class="icon ni ni-user-cross-fill"></em>
                                      </a>
                                  </li>
                                  <li>
                                      <div class="drodown">
                                          <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                          <div class="dropdown-menu dropdown-menu-right">
                                              <ul class="link-list-opt no-bdr">
                                                  <li><a href="#"><em class="icon ni ni-focus"></em><span>Make Remarks</span></a></li>
                                                  <li><a href="#"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                  <li><a href="#"><em class="icon ni ni-repeat"></em><span>Transaction</span></a></li>
                                                 <li class="divider"></li>
                                                  <li><a href="#"><em class="icon ni ni-na"></em><span>Suspend Employee</span></a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </td>
                      </tr><!-- .nk-tb-item  -->
                      {% endfor %}
                      
                  </tbody>
              </table>
          </div>
      </div><!-- .card-preview -->
  </div> <!-- nk-block -->
</div><!-- .components-preview -->
  {% endblock %}